header{
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a{
  /* background-color: pink; */
  display: block;
  width: 100px;
  height: 64px;
  line-height: 64px;
  text-align: center;
}

a:hover{
  background-color: #eee;
}