body{
  margin: 0;
  padding: 0;
}

header{
  background-color: #eee;
  text-align: center;
}

header{
  padding:32px;
}
header img{
  border-radius: 50%;
}

h1{
  margin: 0;
  margin-top: 24px;
  font-weight: normal;
}
p{
  margin:0;
}

main{
  text-align: center;
  display: block;
  padding: 64px;
}
h2{
  margin: 0;
  font-weight: normal;
}
main img{
  margin-top: 64px;
}

h3{
  font-weight: normal;
}
.container{
margin: 0 auto;
width: 400px;
text-align: left;
}
p{
  line-height: 1.7;
}
footer{
  text-align: center;
  padding: 64px;
}
footer p{
  color: #aaa;
}
footer img{
  width: 24px;
  height: 24px;
  padding-top: 20px;
}