/* 必要に応じて CSS を編集しても構いません */

body {
  margin: 0;
  padding: 16px;
  color: #fff;
  background: #333;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  line-height: 1.6;
}

section {
  width: 480px;
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  padding: 16px 24px 40px;
  margin: 32px auto;
  position: relative;
}

#next {
  font-size: 24px;
  position: absolute;
  inset: auto 16px 4px auto;
  animation: blink-caret step-end 2s infinite;
  cursor: pointer;
}

@keyframes blink-caret {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

#end {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  inset: auto 24px 16px auto;
  user-select: none;
}

.hidden {
  display: none;
}