body{
  margin: 0;
}

.box-1{
  background-color: skyblue;
  height: 100px;
}

.box-2{
  background-color: pink;
  height: 100px;
}

@media (min-width:600px){
  .container{
    display: flex;
  }
  .box-1{
    width: 80%;
  }
  .box-2{
    width: 20%;
  }
}

@media (min-width:800px){
  .container{
    display: flex;
  }
  .box-1{
    width: 100%;
  }
  .box-2{
    display: none;
  }
}
